.wrapper {
	display: flex;
}

.leftCol {
	width: 30%;
	.label {
		border-bottom: 1px solid #000;
		margin-bottom: 20px;
		line-height: 1.5;
	}
}

.rightCol {
	width: 70%;
}

app-region-list {
	position: absolute;
	left: 90%;
	top: 0;
}

.regionFilter {
	position: relative;
	color: #141e29;
	.selectViewPart {
		position: relative;
		background-color: #fff;
		-webkit-user-select: none;
		line-height: 30px;
		padding: 0 15px;
		border: 1px solid #dbdbdb;
		border-radius: 2px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 10px;
			top: 0;
			background: url(../../assets/icons/arrow.svg) center center / contain no-repeat;
			width: 10px;
			height: 30px;
			transition: all .2s;
		}
	}
	.dropdownBox {
		position: absolute;
		top: 100%;
		display: none;
		background-color: #fff;
		width: 100%;
		border: 1px solid #dbdbdb;
		border-top: none;
		box-sizing: border-box;
		z-index: 20;
		max-height: 500px;
		li {
			line-height: 30px;
			padding: 0 15px;
			cursor: pointer;
			-webkit-user-select: none;
			position: relative;
			&:hover {
				background-color: #e7e7e7;
			}
			&.withSecondLevel:after {
				content: '';
				display: block;
				position: absolute;
				right: 10px;
				top: 10px;
				background: url(../../assets/icons/arrow.svg) center center / contain no-repeat;
				width: 10px;
				height: 10px;
				transform: rotate(-90deg);
			}
		}
	}
	&.active {
		.selectViewPart {
			border-bottom: none;
			&:after {
				transform: rotate(180deg)
			}
		}
		.dropdownBox {
			display: block;
		}
	}
}

.selectedRegions {
	padding: 20px 0 0 20px;
	li {
		display: inline-block;
		border: 1px solid #dbdbdb;
		border-radius: 20px;
		padding: 0 10px;
		margin: 0 20px 10px 0;
		span {
			line-height: 30px;
			margin-right: 10px;
		}
		.del {
			width: 10px;
			height: 30px;
			display: inline-block;
			background: url(../../assets/icons/cross.svg) center center / contain no-repeat;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}